* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: 'Neue_Regular';
  src: url(fonts/Neue_Regular.ttf);
}
body {
    background-color: #e1f4ff;
    min-height: 200vh;

}
nav {
  display: flex; 
  justify-content: space-between; 
  align-items: center; 
  padding: 10px 0;
  background: white; 
  height: 90px;
  width: 100%;
  box-sizing: border-box;
}

nav ul {
  list-style: none; 
  display: flex;
  margin: 50px;
  padding: 0;
  gap: 20px; /* Modern browsers */
}
nav ul li:not(:last-child) {
  margin-right: 20px; /* Fallback for older browsers */
}
nav ul li a {
  position: relative;
  text-decoration: none; 
  color: #dc3d87;
  font-weight: 500;
  font-size: 22px;
  transition: 0.3s;
  margin-right: 10px;
  left: 1px;
  top: 6px;
  font-family: 'Poppins', sans-serif;
}
.logo {
  position: relative;
  height: auto;   
  width: 300px;   
  left: 1px;
  
} 
.btn-signin {
  background-color: #51aee5;  
  color: #fff;                
  padding: 5px 40px;       
  border: none;
  border-radius: 5px;        
  text-decoration: none;      
  font-weight: 700;
  font-size: 21px;           
  cursor: pointer;
  transition: 0.3s ease;
  display: inline-block;     
  text-align: center;     
  font-family: 'Poppins', sans-serif;   
}

.btn-signin:hover {
  background-color: #3399cc; 
}

.hero-text {
  position: relative;
  top: 50px;
  font-size: 30px;       
  font-weight: 100;    
  color: #3399cc;        
  line-height: 1.2;      
  margin-left: 60px;  
  font-family: 'Open Sans', Arial, sans-serif; 
  background: linear-gradient(120deg, #51aee5, #dc3d87, #3ec0ff);
  background-size: 200% 200%;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;              
  animation: waveMove 6s ease-in-out infinite;
  letter-spacing: 2px;
}
@keyframes waveMove{
  0%   { background-position: 0% 50%; }
  50%  { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.des {
  position: relative;
  width: 900px;
  top: 90px;
  margin-left: 42px;  


}
.btn {
  display: block;      
  margin-left: 60px;    
  margin-top: 155px;
  background-color: #51aee5;  
  color: #fff;                
  padding: 10px 30px;         
  border: none;
  border-radius: 25px;         
  font-size:30px;            
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s ease;      
  font-family: 'Poppins', sans-serif;
}

.btn:hover {
  background-color: #3399cc; 
  transform: scale(1.05);   
}
.pink-box {
  width: 600px;       
  height: 800px;      
  
  position: absolute; 
  top: 90px;             
  right: 0;
  background: linear-gradient(270deg, #dc3d87, #fd4fa0, #dc3d87);
  background-size: 600% 600%;

  animation: gradientMove 8s ease infinite;
}
@keyframes gradientMove {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.doctor-img {
  position: absolute;
  bottom: 0;      
  right: 48px;       
  width: 100%;    
  height: auto;   
}
.blue-line {
  width: 100%;
  height: 10px;          
  background-color: #51aee5; 
  margin-top: 70px;     
}